In [6]:
number = 10
if number > 0:
    print("number는 0보다 크다")
elif number < 0:
    print("number는 0보다 작다")
else:
    print("number는 0보다 크거나 작지 않다")
    
print("이 문장은 항상 출력됩니다.")

number는 0보다 크다
이 문장은 항상 출력됩니다.

In [9]:
count = 0
while count < 5:
    print("Inside loop")
    count = count + 1 # count += 1
print("Outsid loop")

Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Outsid loop

In [11]:
fruits = ("apple", "banana", "cherry")
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [14]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [38]:
students_scores = { 
    "john" : 85,
    "emma" : 94,
    "david" : 82,
}

for name, score in students_scores.items():
    print(f"{name}: {score}")

john: 85
emma: 94
david: 82

In [ ]:
students_scores = { 
    "john" : 85,
    "emma" : 94,
    "david" : 82,
}

for name, score in students_scores.items():
    print(name, score)

In [39]:
"""
students_scores**는 **딕셔너리(dictionary)**입니다. 딕셔너리는 **키(key)**와 값(value) 쌍으로 데이터를 저장하는 자료 구조입니다.

items() 메서드는 딕셔너리의 키-값 쌍을 반환합니다. 즉, 딕셔너리에서 키와 값을 동시에 얻고 싶을 때 items()를 사용합니다.

여기서 students_scores.items()는 딕셔너리의 각 항목을 (key, value) 쌍으로 반환합니다.
즉, "john"과 85, "emma"와 94 같은 키-값 쌍을 가져옵니다.
"""

john 85
emma 94
david 82

In [50]:
for b in students_scores.keys():
    print(f"{b}")

john
emma
david

In [49]:
for a in students_scores.values():
    print(f"{a}")

85
94
82

In [21]:
"""
print("Hello, World!") = 그냥 텍스트를 출력하므로, f-string이 필요 없습니다.

name = "John"
age = 25
print(f"My name is {name} and I am {age} years old.")

여기서는 f-string을 사용해서 **name**과 age 변수의 값을 문자열 안에 동적으로 삽입하고 있습니다. 변수 값을 출력할 때는 f-string이 훨씬 깔끔하고 직관적입니다.
"""

john
emma
david

In [24]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [25]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [27]:
name = "John"
age = 25
print("My name is", name, "and I am", age, "years old.")

My name is John and I am 25 years old.

In [28]:
"""
f-string을 사용하지 않고도 print()에서 **콤마(,)**로 여러 값을 연결하여 출력할 수 있습니다. 이때 변수나 문자열 사이에 공백이 자동으로 추가됩니다.
"""

'\nf-string을 사용하지 않고도 print()에서 **콤마(,)**로 여러 값을 연결하여 출력할 수 있습니다. 이때 변수나 문자열 사이에 공백이 자동으로 추가됩니다.\n'

In [30]:
for i in range(5):
    print(i)
    if i ==3:
        break
else:
    print("반복문이 종료되었습니다")

0
1
2
3

In [59]:
add = lambda x, y : x*y
print(add(3,5))

15

In [33]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [37]:
students_scores = { 
    "john" : 85,
    "emma" : 94,
    "david" : 82,
}

for name, score in students_scores.items():
    print(name, score)

john 85
emma 94
david 82

In [52]:
fruits = ['apple', 'banana', 'cherry']
prices = [1,2,0.75]

for fru,pr in zip(fruits,prices): # 지퍼라고 생각하면 됨
    print(fru,pr)

apple 1
banana 2
cherry 0.75

In [56]:
numbers = [1,2,3,4,5]

squared = map(lambda x: x**2, numbers) # 지정된 함수를 반복 가능한 모든 객체 요소에 적용
print(list(squared))

[1, 4, 9, 16, 25]

In [57]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even_numbers = list(filter(lambda x : x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [60]:
words = ["apple", "banana", "cherry"]

long_words = list(filter(lambda word: len(word) > 5, words))
print(long_words)

['banana', 'cherry']