In [3]:
import work

pip install openpyxl

SyntaxError: invalid syntax (3789172341.py, line 3)

In [4]:
import openpyxl

In [5]:
from openpyxl import Workbook
#새로운 워크북(엑셀파일) 생성
workbook = Workbook()

In [6]:
sheet = workbook.active

sheet['A1'] = 'Name'
sheet['B1'] = 'Age'
sheet['C1'] = 'Gender'

In [7]:
data = [('john', 20 , 'male'),
        ('koh', 12, 'male'),
        ('lee', 22, 'female'),]

for row_data in data:
    sheet.append(row_data)

In [22]:
"""
**for row_data in data:**는 데이터를 한 행씩 가져와 엑셀 시트에 추가하는 루프입니다.
**sheet.append(row_data)**는 리스트 형태의 데이터를 엑셀 시트의 한 행에 추가합니다.
"""

'\n**for row_data in data:**는 데이터를 한 행씩 가져와 엑셀 시트에 추가하는 루프입니다.\n**sheet.append(row_data)**는 리스트 형태의 데이터를 엑셀 시트의 한 행에 추가합니다.\n'

In [8]:
workbook.save('excel_data_2.xlsx')

In [9]:
from openpyxl import load_workbook

workbook = load_workbook('excel_data.xlsx')

In [53]:
sheet = workbook.active

for row in sheet.iter_rows(values_only=True):
    #values_only=True를 사용하게 되면 값만 가져올 수 있음
    print(row)

('Name', 'Age', 'Gender')
('John', 25, 'male')
('Emily', 30, 'female')
('Michael', 35, 'male')
('David', 27, 'Male')
('David', 27, 'Male')
('David', 27, 'Male')

In [11]:
data_dict = {}

for col in sheet.iter_cols(values_only=True):
    #각 컬럼 값들에 대해서 첫번쨰 값은 딕셔너리 키, 나머지는 벨류 저장
    data_dict[col[0]] = list(col[1:])
print(data_dict)

{'Name': ['John', 'Emily', 'Michael'], 'Age': [25, 30, 35], 'Gender': ['male', 'female', 'male']}

In [12]:
sheet = workbook.active

for row in sheet.iter_rows(values_only=False):
    print(row)

(<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>)
(<Cell 'Sheet'.A2>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.C2>)
(<Cell 'Sheet'.A3>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.C3>)
(<Cell 'Sheet'.A4>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.C4>)

In [13]:
sheet = workbook.active

for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Age', 'Gender')
('John', 25, 'male')
('Emily', 30, 'female')
('Michael', 35, 'male')

In [14]:
data_dict = {}

for col in sheet.iter_cols(values_only=True):
    #각 컬럼 값들에 대해서 첫번쨰 값은 딕셔너리 키, 나머지는 벨류 저장
    data_dict[col[0]] = list(col[1:])
print(data_dict)

{'Name': ['John', 'Emily', 'Michael'], 'Age': [25, 30, 35], 'Gender': ['male', 'female', 'male']}

In [15]:
data_dict['Age']

[25, 30, 35]

In [16]:
sheet['A1']

In [21]:
sheet['A1'].value

'Name'

In [22]:
sheet.cell(row=1, column=1)

In [24]:
sheet.cell(row=1, column=1).value

'Name'

In [29]:
sheet['A1:C1']

((<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>),)

In [30]:
sheet['A1:C1'].value
#오류남

AttributeError: 'tuple' object has no attribute 'value'

In [31]:
"""
오류 메시지에서 **AttributeError: 'tuple' object has no attribute 'value'**가 발생한 이유는 셀 범위인 'A1:C1'을 지정할 때 단일 셀이 아닌 범위를 선택했기 때문입니다. sheet['A1:C1']은 튜플 형태로 여러 셀을 반환하지만, 단일 셀처럼 .value를 사용할 수 없기 때문에 발생한 문제
"""

"\n오류 메시지에서 **AttributeError: 'tuple' object has no attribute 'value'**가 발생한 이유는 셀 범위인 'A1:C1'을 지정할 때 단일 셀이 아닌 범위를 선택했기 때문입니다. sheet['A1:C1']은 튜플 형태로 여러 셀을 반환하지만, 단일 셀처럼 .value를 사용할 수 없기 때문에 발생한 문제\n"

In [33]:
data_list = []
for row in sheet['A2:C4']:
    row_list = []
    for val in row:
        row_list.append(val.value)
    data_list.append(row_list)
print(data_list)

[['John', 25, 'male']]
[['John', 25, 'male'], ['Emily', 30, 'female']]
[['John', 25, 'male'], ['Emily', 30, 'female'], ['Michael', 35, 'male']]
[['John', 25, 'male'], ['Emily', 30, 'female'], ['Michael', 35, 'male']]

In [34]:
"""
sheet['A2:C4']:

이 부분은 엑셀 시트에서 A2부터 C4까지의 셀 범위를 가져옵니다.
각 행(row)은 셀 객체들의 리스트로 반환됩니다.
row_list = []:

각 행의 데이터를 저장하기 위한 빈 리스트를 생성합니다.
for val in row:

각 행의 셀을 순차적으로 순회합니다. **val**은 셀 객체이며, **val.value**는 셀에 저장된 실제 값을 가져옵니다.
row_list.append(val.value):

셀의 값을 **row_list**에 추가합니다.
data_list.append(row_list):

한 행의 값이 저장된 **row_list**를 전체 데이터 리스트인 **data_list**에 추가합니다.
"""

"\nsheet['A2:C4']:\n\n이 부분은 엑셀 시트에서 A2부터 C4까지의 셀 범위를 가져옵니다.\n각 행(row)은 셀 객체들의 리스트로 반환됩니다.\nrow_list = []:\n\n각 행의 데이터를 저장하기 위한 빈 리스트를 생성합니다.\nfor val in row:\n\n각 행의 셀을 순차적으로 순회합니다. **val**은 셀 객체이며, **val.value**는 셀에 저장된 실제 값을 가져옵니다.\nrow_list.append(val.value):\n\n셀의 값을 **row_list**에 추가합니다.\ndata_list.append(row_list):\n\n한 행의 값이 저장된 **row_list**를 전체 데이터 리스트인 **data_list**에 추가합니다.\n"

In [44]:
data_list = []
for row in sheet['A2:C4']:
    row_list = []
    for val in row:
        print(val.value)
        row_list.append(val.value)
        print(row_list)
    data_list.append(row_list)
    print(row_list)
    print(data_list)
print(data_list)
print(row_list)

John
['John']
25
['John', 25]
male
['John', 25, 'male']
['John', 25, 'male']
[['John', 25, 'male']]
Emily
['Emily']
30
['Emily', 30]
female
['Emily', 30, 'female']
['Emily', 30, 'female']
[['John', 25, 'male'], ['Emily', 30, 'female']]
Michael
['Michael']
35
['Michael', 35]
male
['Michael', 35, 'male']
['Michael', 35, 'male']
[['John', 25, 'male'], ['Emily', 30, 'female'], ['Michael', 35, 'male']]
[['John', 25, 'male'], ['Emily', 30, 'female'], ['Michael', 35, 'male']]
['Michael', 35, 'male']

In [47]:
data_list = []
for row in sheet['A2:C4']:
    row_list = []
    for val in row:
        row_list.append(val.value)
    data_list.append(row_list)
print(data_list)

[['John', 25, 'male'], ['Emily', 30, 'female'], ['Michael', 35, 'male']]

In [51]:
sheet.append(['David', 27, 'Male'])
workbook.save('excel_data.xlsx')

In [52]:
print(data_list)

[['John', 25, 'male'], ['Emily', 30, 'female'], ['Michael', 35, 'male']]

In [58]:
row_data = ['Celine', 24, 'female']
for col, data in enumerate(row_data, start=2):
    sheet.cell(row=11, column=col).value = data
workbook.save('excel_data.xlsx') #파일 열고있음 세이브 안됨

In [ ]:
"""
row_data = ['Celine', 24, 'female']:

row_data는 엑셀 시트의 5번째 행에 추가할 데이터입니다. 여기서 'Celine', 24, 'female'은 각각 열에 대응하는 값입니다.
for col, data in enumerate(row_data, start=1):

enumerate(row_data, start=1)은 리스트 row_data의 각 요소에 대해 열 번호를 1부터 시작하여 인덱싱합니다.
enumerate는 (인덱스, 값) 형태로 데이터를 반환하며, col은 열 번호(1, 2, 3), data는 각 열에 들어갈 데이터('Celine', 24, 'female')입니다.
sheet.cell(row=5, column=col).value = data:

sheet.cell(row=5, column=col)은 5번째 행의 각 열을 가리킵니다. 이 행의 각 열에 data 값을 할당합니다.
예를 들어, column=1이면 5번째 행의 첫 번째 열(A5 셀)에 'Celine'이 들어가고, column=2이면 두 번째 열(B5 셀)에 24, column=3이면 세 번째 열(C5 셀)에 'female'이 들어갑니다.
workbook.save('excel_data.xlsx'):

엑셀 파일을 저장합니다. 이 작업을 하지 않으면 변경된 데이터가 파일에 반영되지 않습니다.
"""